@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700|Source+Code+Pro");
nav, .nav, main#main, main, #main, code, figure, blockquote, .center { margin-left: auto !important; margin-right: auto !important; }

.active { position: relative; }

.active:after { content: ""; position: absolute; bottom: -.5rem; left: 0; width: 100%; height: 4px; background: #007fe6; border-radius: 2px; display: block; }

.btns a, .btns button, .btns .dropdown { display: inline-block; padding: .5rem 1rem; margin: .25rem; background: #007fe6; color: white; border-radius: .25rem; }

.btn { display: inline-block; padding: .5rem 1rem; margin: .25rem; background: #007fe6; color: white; border-radius: .25rem; }

nav, .nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1200px; padding: 1rem; margin-bottom: 1rem; }

@media (min-width: 780px) { nav, .nav { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } }

nav a, nav button, nav .navLink, nav .dropdown, .nav a, .nav button, .nav .navLink, .nav .dropdown { padding: .5rem 1rem; margin: .25rem; }

nav .dropdown, .nav .dropdown { position: relative; }

nav .dropdown > div, .nav .dropdown > div { position: absolute; top: calc(100%); left: 0; visibility: hidden; -webkit-transform: scale(0); transform: scale(0); -webkit-transform-origin: top center; transform-origin: top center; }

nav .dropdown > div a, nav .dropdown > div button, nav .dropdown > div .navLink, .nav .dropdown > div a, .nav .dropdown > div button, .nav .dropdown > div .navLink { display: block; }

nav .dropdown:hover > div, nav .dropdown:focus > div, .nav .dropdown:hover > div, .nav .dropdown:focus > div { position: relative; visibility: visible; -webkit-transform: scale(1); transform: scale(1); }

@media (min-width: 780px) { nav .dropdown:hover > div, nav .dropdown:focus > div, .nav .dropdown:hover > div, .nav .dropdown:focus > div { position: absolute; } }

nav .dropdown:after, .nav .dropdown:after { content: ""; display: inline-block; border: .5rem solid transparent; border-top: .5rem solid currentColor; margin: 0rem -.5rem -.5rem .5rem; }

nav h1, .nav h1 { font-size: 1.8rem; margin: 0; }

@media (min-width: 780px) { nav h1, .nav h1 { font-size: 2.2rem; } }

@media (min-width: 1000px) { nav h1, .nav h1 { font-size: 3.25rem; } }

nav ul, .nav ul { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; }

nav ul a, nav ul button, .nav ul a, .nav ul button { display: block; word-break: break-all; word-break: break-word; }

@media (min-width: 780px) { nav ul, .nav ul { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; } }

nav .collapse, .nav .collapse { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; height: 0; -webkit-transform: scale(0); transform: scale(0); -webkit-transform-origin: top center; transform-origin: top center; -ms-flex-preferred-size: 100%; flex-basis: 100%; }

nav .collapse a, nav .collapse button, nav .collapse .navLink, .nav .collapse a, .nav .collapse button, .nav .collapse .navLink { width: -webkit-max-content; width: -moz-max-content; width: max-content; }

nav .collapse .active:after, .nav .collapse .active:after { bottom: .25rem; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: currentColor; height: 2px; width: 80%; border-radius: 1px; }

@media (min-width: 780px) { nav .collapse, .nav .collapse { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-preferred-size: auto; flex-basis: auto; height: auto; -webkit-transform: scale(1) !important; transform: scale(1) !important; overflow: visible; } }

@media (min-width: 780px) { nav .collapseToggle, .nav .collapseToggle { display: none; } }

nav .collapseToggle:after, .nav .collapseToggle:after { content: ""; display: inline-block; border: .5rem solid transparent; border-top: .5rem solid currentColor; margin: 0rem -.5rem -.5rem .5rem; }

.expand { height: 100% !important; -webkit-transform: scale(1) !important; transform: scale(1) !important; }

.none { display: none; }

@media (min-width: 780px) { header.sidebar, header.sidebarRight { position: fixed; top: 0; width: -webkit-min-content; width: -moz-min-content; width: min-content; max-width: 200px; height: 100%; }
  header.sidebar nav, header.sidebar .nav, header.sidebarRight nav, header.sidebarRight .nav { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; -ms-flex-wrap: nowrap; flex-wrap: nowrap; } }

header.sidebar nav, header.sidebar .nav, header.sidebarRight nav, header.sidebarRight .nav { padding: 0; }

header.sidebar .flex, header.sidebarRight .flex { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

header.sidebar { left: 0; }

@media (min-width: 780px) { header.sidebar ~ main#main, header.sidebar ~ main, header.sidebar ~ #main { padding-left: 200px !important; } }

header.sidebarRight { right: 0; }

@media (min-width: 780px) { header.sidebarRight ~ main#main, header.sidebarRight ~ main, header.sidebarRight ~ #main { padding-right: 200px !important; } }

header.fixed { position: fixed; width: 100%; }

header.fixed ~ main, header.fixed ~ #main, header.fixed ~ main#main { padding-top: 200px; }

header.fixed nav, header.fixed .nav { margin-bottom: 0; }

nav, .nav, main#main, main, #main, code, figure, blockquote, .center { margin-left: auto !important; margin-right: auto !important; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; -webkit-transition: all 150ms ease-in-out; transition: all 150ms ease-in-out; overflow-wrap: break-word; }

*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: 'Raleway', 'Verdana', sans-serif; overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; text-transform: capitalize; overflow-wrap: break-word; text-align: center; }

a > h1, a > h2, a > h3, a > h4, a > h5, a > h6 { margin-bottom: 0 !important; }

h1 { font-size: 3.25rem; margin-bottom: 3rem; }

@media (min-width: 780px) { h1 { font-size: 4rem; } }

h2 { font-size: 2.75rem; margin-bottom: 2.5rem; }

@media (min-width: 780px) { h2 { font-size: 3rem; } }

h3 { font-size: 2.2rem; margin-bottom: 2rem; }

h4 { font-size: 2rem; margin-bottom: 1.5rem; }

h5 { font-size: 1.8rem; margin-bottom: 1.25rem; }

h6 { font-size: 1.6rem; margin-bottom: 1rem; }

header, footer { position: relative; z-index: 100; background: #b3ddff; }

footer { padding: 1rem; }

main#main, main, #main { max-width: 1200px; min-height: calc(100vh - 8rem); }

section { padding: 2rem 1rem; border-bottom: 1px solid #007fe6; }

section:last-child { border-bottom: none; }

section section { margin-top: 2rem; padding: 2rem .5rem; border: none; background: aliceblue; }

section section section { padding: 2rem 0; }

code { display: block; padding: 1rem; margin-bottom: 1rem; width: -webkit-max-content; width: -moz-max-content; width: max-content; max-width: 100%; border: 1px solid #80c6ff; background: aliceblue; border-radius: .25rem; font-size: 1rem; font-family: 'Source Code Pro', monospace; white-space: pre-wrap; text-align: left; }

p code { display: inline; padding: 0 .25rem; }

figure { max-width: -webkit-max-content; max-width: -moz-max-content; max-width: max-content; background: #b3ddff; }

figcaption { padding: .5rem; }

blockquote { position: relative; z-index: 90; padding: 2rem 1rem 1rem; white-space: pre-line; font-weight: 400; font-size: 1.3rem; max-width: 800px; -webkit-box-shadow: 43px 37px 0 -40px #b3ddff; box-shadow: 43px 37px 0 -40px #b3ddff; }

@media (min-width: 780px) { blockquote { padding: 2rem 3rem 1rem; } }

blockquote:before { content: "\275D"; position: absolute; z-index: -1; top: 0; left: 0; font-size: 5rem; color: #b3ddff; opacity: .5; }

blockquote cite { display: block; margin-top: 1rem; font-weight: 400; font-style: italic; text-align: right; }

blockquote cite:before { content: "- "; }

p { margin-bottom: 1rem; line-height: 1.5; }

p a { text-decoration: underline; }

p a:hover { opacity: .8; }

button { border: none; background: none; }

a, button, .dropdown { color: inherit; text-decoration: none; font-weight: 600; font-family: inherit; font-size: inherit; cursor: pointer; }

a:hover, button:hover, .dropdown:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

a:active, button:active, .dropdown:active { -webkit-transform: scale(0.9); transform: scale(0.9); }

input, textarea, select { display: block; margin-top: .5rem; font-size: inherit; font-family: inherit; padding: .25rem; }

hr { border: none; border-top: 1px solid #007fe6; margin: 1rem; }

@media (min-width: 780px) { hr { margin: 2rem 1rem; } }

img { max-width: 100%; max-height: 100%; }

p img { float: left; margin: .5rem 1rem .5rem 0; }

@media (min-width: 780px) { img { max-width: 400px; max-height: 400px; } }

nav, .nav, main#main, main, #main, code, figure, blockquote, .center { margin-left: auto !important; margin-right: auto !important; }

.tsm { font-size: .8rem; }

.treg { font-size: 1rem; }

.tmd { font-size: 1.6rem; }

.tlg { font-size: 2rem; }

.txl { font-size: 3rem; }

.wlight { font-weight: 300; }

.wreg { font-weight: 400; }

.semi { font-weight: 600; }

.bold { font-weight: 700; }

.italic { font-style: italic; }

.tcenter { text-align: center; }

.tright { text-align: right; }

.tleft { text-align: left; }

.tjustify { text-align: justify; }

.tjustifyAll { text-align: justify-all; }

.lowercase { text-transform: lowercase; }

.capitalize { text-transform: capitalize; }

.uppercase { text-transform: uppercase; }

.nocase { text-transform: none; }

.contentWidth { width: -webkit-max-content !important; width: -moz-max-content !important; width: max-content !important; max-width: 100%; }

.left { margin-right: auto !important; margin-left: 0 !important; }

.right { margin-right: 0 !important; margin-left: auto !important; }

.m0 { margin: 0 !important; }

.m1 { margin: .5rem; }

.primary { background-color: #b3ddff; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.flex a, .flex button { word-break: break-all; word-break: break-word; }

.column { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.border { border: 2px solid #007fe6; border-radius: .25rem; padding: 1rem; margin-bottom: 1rem; }

@media (min-width: 780px) { .border { padding: 2rem; margin-bottom: 2rem; } }

.pad { padding: 1rem; }

@media (min-width: 780px) { .pad { padding: 2rem; } }
/*# sourceMappingURL=style.css.map */