// colors

$primary: #b3e7ff;

$lightPrimary: lighten($primary, 12%);

$darkPrimary: darken($primary, 40%);

$darkerPrimary: darken($primary, 60%);

$accent: complement($primary);

$secondary: #83cfda;

$success: #94ffa3;

$danger: #fdb1b1;

$warning: #fffd88;

$info: #9bffff;

$light: #eff8ff;

$dark: #2c455a;

// colors