// colors

$primary: #b3ddff;

$accent: complement($primary);

$secondary: #83cfda;

$success: #afffba;

$danger: #ff9b9b;

$warning: #fffd88;

$info: #9bffff;

$light: #eff8ff;

$dark: #2c455a;

// colors