@import 'variables';

nav,
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: $wrap;
    @extend %center;
    padding: 1rem;
    margin-bottom: 1rem;

    a,
    button,
    .navLink {
        padding: .5rem 1rem;
        margin: .25rem;
    }

    @include md {
        justify-content: space-between;
    }
}