// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 200ms ease-in-out;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'Verdana', sans-serif;
    overflow-x: hidden;
}