@import 'variables';

@import 'mixins';

@import 'colors';

// callout boxes like in magazines


// font sizes
// ============================================= //
.tsm {font-size: .8rem;}

.treg {font-size: 1rem;}

.tmd {font-size: 1.6rem;}

.tlg {font-size: 2rem;}

.txl {font-size: 3rem;}


// font weight
// ============================================= //
.wlight {font-weight: 300;}

.wreg {font-weight: 400;}

.semi {font-weight: 600;}

.bold {font-weight: 700;}

.italic {font-style: italic;}

.underline {text-decoration: underline;}


// text alignment
// ============================================= //
.tcenter {text-align: center;}

.tright {text-align: right;}

.tleft {text-align: left;}

.tjustify {text-align: justify;}


// text transform
// ============================================= //
.lowercase {text-transform: lowercase;}

.capitalize {text-transform: capitalize;}

.uppercase {text-transform: uppercase;}

.nocase {text-transform: none;}


// width
// ============================================= //
.contentWidth {
    width: max-content !important;
    max-width: 100%;
}


// margins
// ============================================= //
.center {   // this horizontally centers block elements
    @extend %center;
}

.left {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.right {
    margin-right: 0 !important;
    margin-left: auto !important;
}

.m0 {   // removes margin completely
    margin: 0 !important;
}

.m1 {
    margin: .5rem;
}

.m2 {
    margin: 1rem;
}

.m3 {
    margin: 3rem;
}

.pad {
    padding: 1rem;

    @include md {
        padding: 2rem;
    }
}


// colors
// ============================================= //
.primary {
    background-color: $primary;
}

.accent {
    background-color: $accent;
}

.success {
    background-color: $success;
}

.danger {
    background-color: $danger;
}



.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a, button {
        word-break: break-all;
        word-break: break-word;
    }
}

.column {
    flex-direction: column;
}

.border {
    border: 2px solid $darkPrimary;
    border-radius: .25rem;
    padding: 1rem;
    margin-bottom: 1rem;

    @include md {
        padding: 2rem;
        margin-bottom: 2rem;
    }
}

.wrap {
    max-width: $wrap;
    @extend %center;
}